header {
  position: fixed;
  width: 100%;
  background-color: #000;
  color: #fff;

  .header-top{
    width: 100%;

    .header-top-list{
      justify-content: flex-end;
      padding: 10px 0;

      a{
        color: #989898;
        font-weight: 200;
        font-size: 12px;

        i{
          color: #009cff;
          vertical-align: middle;
          margin-right: 7px;
        }
      }
    }
  }

  .header-bottom{
    width: 100%;
    height: 50px;
    line-height: 50px;

    .nav-logo{
      height: 50px;

      img{
        height: 40px;
        padding: 8px 15px;
      }
    }

    .header-bottom-list{
      width: 100%;
      justify-content: space-between;

      .list-item{
        margin-left: 0;
        padding: 0 25px;

        i{
          color: #878787;
          vertical-align: middle;
        }
      }
    }
  }
}
