header {
  width: 100%;
  background-color: #000;
  color: #fff;

  // Header top
  .header-top{
    width: 100%;

    .nav-list{
      justify-content: flex-end;
      padding: 10px 0;
      &-item{
        margin-left: 25px;
        a{
          color: #989898;
          font-weight: 200;
          font-size: 12px;

          i{
            color: #009cff;
            vertical-align: middle;
            margin-right: 7px;
          }
        }
      }
    }
  }

  // Header bottom
  .header-bottom{
    @include flexContainer;
    width: 100%;
    height: 50px;
    line-height: 50px;

    &-logo{
      height: 50px;

      img{
        height: 40px;
        padding: 8px 15px;
      }
    }

    .nav{
      width: 100%;

      &-list{
        justify-content: space-between;

        &-item{
          margin-left: 0;
          padding: 0 25px;

          a{
            color: #fff;
          }

          i{
            color: #878787;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
