@mixin listInline {
  display: flex;
  align-items: center;
  list-style: none;
}

@mixin flexContainer{
  display: flex;
}

@mixin bg_norepeat{
  background-position: top center;
  background-repeat: no-repeat;
}
